$content-active: #6534FF;


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.16);
    opacity: 0;
    transition: all 0.2s ease;
}

.modalBlock {
    z-index: 11;
    max-width: 373px;
    width: calc(100% - 24px);
    border-radius: 20px;
    margin: 0 auto;
    background-color: var(--background-color);
    opacity: 0;
    flex-direction: column;

    .modalBlockContent {
        width: calc(100% - 36px);
        margin: 0 auto;

        .modalBlockHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 24px;
            margin-bottom: 36px;

            h3 {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: var(--header-text-color);
            }

            .modalBlockHeaderBlank {
                width: 24px;
                height: 24px;
            }

        }

        .radioBlock {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 40px;

            &:last-of-type {
                margin-bottom: 28px;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: var(--header-text-color)
            }

            .radioButtonBlock {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 14px;

                input {
                    display: none;
                }

                .radioCustom {
                    width: 20px;
                    height: 20px;

                    border-radius: 50%;
                    border: 2px solid $content-active;
                    transition: 0.2s;
                }

                .selectedRadio {
                    width: 8px;
                    height: 8px;
                    border: 7px solid $content-active;
                }
            }
        }
    }

}


.modalVisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.modalBlockVisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container {
    border-bottom: 0.5px solid var(--input-background-color);
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    transition: 0.2s;

    .content {
        width: calc(100vw - 48px);
        margin: 0 24px;
        margin-top: 8px;
        padding-top: 8px;
        align-items: center;

        .headerContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin-left: 8px;
                margin-bottom: 12px;
                color: var(--header-text-color);
                line-height: 28px
            }

            .langAndThemeContainer {
                display: flex;
                flex-direction: row;
            }

        }


        .searchContainer {
            display: flex;
            align-items: center;
            width: calc(100% - 24px);
            height: 24px;
            border-radius: 16px;
            background-color: var(--input-background-color);
            padding: 8px 12px;
            margin: 6px 0;
            flex-direction: row;
            transition: 0.2s;

            .searchInput {
                border: 0;
                background-color: inherit;
                outline: none;
                caret-color: $content-active;
                font-size: 15px;
                width: 100%;
                align-items: center;
                margin: 6px 8px;
                color: var(--header-text-color);
                cursor: default;

                &::placeholder {
                    color: var(--light-text-color);
                    opacity: 1;
                }

                &:focus::placeholder {
                    opacity: 0;
                }
            }
        }

        .departmentsContainer {
            display: flex;
            align-items: flex-end;
            height: 44px;
            flex-direction: row;
            overflow-x: auto;
            scrollbar-width: none;
            border-bottom: 0;
            transition: 0.03s ease-in-out;

            .department {
                padding: 8px 12px;
                color: var(--text-color);
                font-weight: 500;
                white-space: nowrap;
            }
        }
    }

    .selectedDepartment {
        border-bottom: $content-active 2px solid;
        transition: 0.03s ease-in-out;

        p {
            color: var(--selected-text-color);
            font-weight: 600;
        }
    }
}